<a routerLink="/">Home</a>
<div class="text-center">
  <h2>Are you sure?</h2>
</div>

<div *ngIf="messageSuccess" class="alert alert-success">
  <p>{{messageSuccess}}</p>
</div>


<div *ngIf="messageError" class="alert alert-danger">
  <p>{{messageError}}</p>
</div>

<label class="col">
  Tag:
  <span>{{awesome.tag}}</span>
</label>
<label class="col">
  Url:
  <span>{{awesome.url}}</span>
</label>
<label class="col">
  Descriptions:
  <span>{{awesome.descriptions}}</span>
</label>
<div class="col">
  <button class="btn btn-info" type="submit" (click)="delete()">Delete</button>
</div>
