<a routerLink="/">Home</a>
<div class="text-center">
  <h2>Edit</h2>
</div>

<div *ngIf="messageSuccess" class="alert alert-success">
  <p>{{messageSuccess}}</p>
</div>

<div *ngIf="messageError" class="alert alert-danger">
  <p>{{messageError}}</p>
</div>

<form #aweForm="ngForm" (ngSubmit)="save(aweForm.value)">
  <label class="col">
    <input type="hidden" [(ngModel)]="awesome.id" name="id" ngModel class="form-control"/>
  </label>
  <label class="col">
    Tag:
    <input type="text" [(ngModel)]="awesome.tag" name="tag" ngModel class="form-control">
  </label>
  <label class="col">
    Url:
    <input type="text" [(ngModel)]="awesome.url" name="url" ngModel class="form-control">
  </label>
  <label class="col">
    Descriptions:
    <input type="text" [(ngModel)]="awesome.descriptions" name="descriptions" ngModel class="form-control">
  </label>
  <div class="col">
    <button class="btn btn-info" type="submit">Update</button>
  </div>
</form>
